body {
  margin: 0;
  background: rgba(38, 118, 197, 0.603);
  font: normal bold "Work Sans", sans-serif;
  font-weight: 300;
  color: whitesmoke; }
  
.textoSombreado {
  text-shadow: 2px 2px #000; }

section {
  width: 80%;
  margin: 0 auto; }
section h2 {
  color: whitesmoke; }
section table {
  color: whitesmoke; }

.bordesRedondeados {
  border-radius: 10px; }

.galeria .itemsTotal {
  padding: 20px;
  display: flex;
  flex-flow: wrap;
  justify-content: center; }
.galeria .itemsTotal .item {
  width: 250px;
  height: 300px;
  text-align: center;
  flex-direction: row;
  margin: 20px;
  padding: 15px;
  text-transform: uppercase;
  transition: transform 250ms;
  background: #2a2a72;
  box-shadow: 10px 10px 11px -1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 10px 10px 11px -1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 11px -1px rgba(0, 0, 0, 0.25); }
.galeria .itemsTotal .item:hover {
  transform: scale(1.1); }