<!DOCTYPE html>
<html>
    <header>

    </header>
    <body>
        <h1>Home</h1>
        <p>
            Login
            <form action="/login" method="post">
                Username: <input type="text" id="username"><br>
                Password: <input type="password" id="password"><br>
                <button onclick="">Log in</button>
            </form>
        </p>
        <p>
            Register
            <form>
                Firstname: <input type="text"><br>
                Lastname: <input type="text"><br>
                Username: <input type="text"><br>
                Password: <input type="password"><br>
                <button>Create account</button>
            </form>
        </p>
    </body>
</html>