<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">TheBlues</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Auctions</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">My Profile</a></li>
                    <li><a class="dropdown-item" href="#">Create Auction</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Log Out</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
    </header>

    <body>
        <main>
            <section class="galeria">
                <h3 class="banner">Get your favourite things!</h3>
                <div class="itemsTotal">
                {{range .auctions}}
                  <div class="item">
                    <p>{{.Title}}</p>
                    <picture><a href=""><img class="bordesRedondeados" src={{.Image}} alt="" height="216" width="216"></a></picture>
                  </div>
                {{end}}
                  <!--<div class="item">
                    <p>Maceta de interiores</p>
                    <picture><a href=""><img class="bordesRedondeados" src="" alt="Maceta para plantas de  interior" height="216" width="216"></a></picture>
                  </div>
                  <div class="item">
                    <p>Pokemons impresos en 3D</p>
                    <picture><a href=""><img class="bordesRedondeados" src="" alt="Pokemons impresos en 3D"  height="216" width="216"></a></picture>
                  </div>
                  <div class="item">
        
                    <p>JoyConHolder para Switch</p>
                    <picture><a href=""><img class="bordesRedondeados" src="" alt="JoyConHolder para Switch" height="216" width="216"></a></picture>
                  </div>
                  <div class="item">
                    <p>Lapicero estilo low poly</p>
                    <picture><a href=""><img class="bordesRedondeados" src="" alt="Lapicero estilo low poly" height="216" width="216"></a></picture>
                  </div>
                  <div class="item">
                    <p>Escurre dentifrico</p>
                    <picture><a href=""><img class="bordesRedondeados" src="" alt="Escurre dentifrico" height="216" width="216"></a></picture>
                  </div>
                  <div class="item">
                    <p>Porta controles remoto</p>
                    <picture><a href=""><img class="bordesRedondeados" src="" alt="Porta control remoto" height="216" width="216"></a></picture>
                  </div>
                  <div class="item">
                    <p>Auto antiguo de juguete</p>
                    <picture><a href=""><img class="bordesRedondeados" src="" alt="Auto antiguo de juguete" height="216" width="216"></a></picture>
                  </div>
                  <div class="item">
                    <p>Anti anteojos nublados</p>
                    <picture><a href=""><img class="bordesRedondeados" src="" alt="Preventor de niebla en los anteojos para barbijos" height="216" width="216"></a></picture>
                  </div>
                  <div class="item">
                    <p>Caja .22 100 municiones</p>
                    <picture><a href=""><img class="bordesRedondeados" src="" alt="Caja para tiro deportivo de calibre .22, hasta 100 balas" height="216" width="216"></a></picture>
                  </div>-->
                </div>
              </section>
        </main>
    </body>

</html>